.container {
  width: 320px;
  border: 1px solid black;
  margin: 100px auto;
}

.revervePlaceText {
  text-align: center;
  position: relative;
  font-family: var(--mainFont);
  font-size: 18px;
  font-weight: 400;
}
.openModalButton {
  position: absolute;
  top: -50px;
  right: 90%;
  border: none;
  background-color: transparent;
  color: rgb(161, 230, 104);
  font-family: var(--mainFont);
  font-size: 30px;
}
.closeModalButton {
  position: absolute;
  top: -50px;
  right: 10%;
  border: none;
  background-color: transparent;
  color: rgb(236, 135, 135);
  font-family: var(--mainFont);
  font-size: 30px;
}
.modalTitle {
  position: absolute;
  top: -50px;
  right: calc(50% - 82px);
  border: none;
  background-color: transparent;
  color: #000;
  font-family: var(--mainFont);
}
.successMail {
  text-align: center;
  font-family: var(--mainFont);

  color: #000;
  font-size: 30px;
  font-weight: 400;
}
.from {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 15px;
}
.formGroup {
  width: 80%;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 20px;

  font-family: var(--mainFont);

  font-size: 18px;
  font-weight: 400;
}
.textarea {
  font-family: var(--mainFont);

  min-height: 50px;
}
.button {
  font-family: var(--mainFont);

  font-size: 18px;
  font-weight: 400;
  border: none;
  color: #fff;
  background-color: rgba(0, 255, 50, 0.5);
}
@media screen and (min-width: 768px) {
  .container {
    width: 500px;
  }
}
@media screen and (min-width: 1280px) {
}
